.header{
    background-color: rgb(14, 24, 93);
    padding-bottom: 20px;
  }

.navbar-container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
  }
  
.list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-content: center;
  }

  
.header-container{
    border-top: 1px solid rgb(247, 243, 243);
    text-align: center;
    color:white;
  }
  
h1{
    font-size: 50px;
    margin-bottom: 0px;
  }
  
.h1-subtitle{
    font-size: 25px;
  }

.btn-nav{
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border: none;
    transition: .5s;
    color: white;
   }

.btn-nav:hover {
    background-color: rgb(19, 1, 1);
}
.btn-nav:active {
  background-color:rgb(184, 184, 184);
  }